<h1>DumBurger!</h1>

<h2>Create the burger of your dreams!</h2>

<h3>Burgers Created</h3>

{{!-- <ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h3>Burgers Devoured</h3>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul> --}}


<ul class="list-group">
	{{#each burgers}}
	{{#unless this.devoured}}
	<li class="list-group-item">
		<div class="input-group">
			<p> {{this.burger_name}} </p>
			<form>
				<input class='burger_id' type="hidden" name="devoured" value="{{this.id}}">
				<button class="btn" type="submit">OM NOM NOM!</button>
			</form>
		</div>
	</li>
	{{/unless}}
	{{/each}}
</ul>

<div>
		<div  id="devoured">
		<h3 id="heaven">All good burgers go to heaven:</h3>
			<div>
				<ul>
				{{#each burgers}}
					{{#if this.devoured}}
					<li>
						<p class="lead">{{this.burger_name}} </p>
					</li>
					{{/if}}
				{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>


<h2>Add a Burger</h2>
<form class="create-form">

	<div class="form-group">
		<textarea type="text" id="bur" name="b_name"></textarea>
	</div>


	<button type="submit" id="subBtn">Add a Burger</button>
</form>