<h1>DumBurger!</h1>

<h2>Create the burger of your dreams!</h2>

<h3>Burgers Created</h3>

{{!-- <ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h3>Burgers Devoured</h3>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul> --}}


<ul class="list-group">
				{{#each burgers}}
					{{#unless this.devoured}}
					<li class="list-group-item">
						<div class="input-group">
							<p class="lead"> {{this.burger_name}} </p>
							<span class="input-group-btn">
								<form class="devour-form button-size">
									<input class = 'burger_id' type="hidden" name="devoured" value="{{this.id}}">
									<button id="button" class="btn btn-default btn-lg" type="submit">OM NOM NOM!</button>
								</form>
							</span>
						</div>
					</li>
					{{/unless}}
				{{/each}}
			</ul>


<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <textarea type="text" id="bur" name="b_name"></textarea>
  </div>


  <button type="submit" id="subBtn">Add a Burger</button>
</form>
